# Environnement virtuel
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo

# Variables d'environnement (NE JAMAIS committer)
.env

# IDE
.vscode/
.idea/

# Fichiers temporaires de test
r.txt
test_result.txt

